body {
  background: #124567;
}

:root{
  --x: 2600px;
  --y: -15px;
}

svg, #wave, #wave2, #wave3, #wave4{
  transition: all 4s ease-in-out;
}

.holder {
  max-width: 500px;
  height: 400px;
  margin: 25vh auto;
  display: grid;
  place-items: center;
  padding: 3rem;
  background: #ccc;
  border-radius: 10px;
  overflow-x: hidden;
}

#wave2{
  transform: translateX(339px);
}

#wave3{
  transform: translateX(678px);
}

#wave4{
  transform: translateX(1017px);
}

svg{
  background: #F39200;
  border-radius: 50%;
  border: 25px solid black;
  height: 350px;
  width: 350px; 
}

svg:hover #wave{
  transform: translateX(-1017px);
}

svg:hover #wave2{
  transform: translateX(-678px);
}

svg:hover #wave3{
  transform: translateX(-339px);
}

svg:hover #wave4{
  transform: translateX(0);
}