body {
  background: #124567;
}

:root{
  --x: 2600px;
  --y: -15px;
}

.holder {
  max-width: 500px;
  height: 300px;
  margin: 25vh auto;
  display: grid;
  place-items: center;
  padding: 3rem;
  background: #ccc;
  border-radius: 10px;
  overflow-x: hidden;
}

#sine, #sine2, #sine3,
svg {
  transition: all 4s ease-in-out;
}

#sine2 {
  transform: translate(var(--x), var(--y));
}

#sine3 {
  transform: translate(calc(var(--x) * 2), calc(var(--y) * 2));
}

svg {
  width: 100%;
  height: 100%;
}

svg {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

svg:hover #sine{
  transform: translate(calc(var(--x) * -1), calc(var(--y) * -1));
}

svg:hover #sine2{
  transform: translate(0, 0);
}

svg:hover #sine3{
  transform: translate(var(--x), var(--y));
}

/* svg:hover {
  filter: drop-shadow(9px 15px 3px rgb(0 0 0 / 0.4));
} */
